.hero {
    border: var(--border-dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vmin;

    text-align: left;

    padding: 10vmin;

    border-radius: 10vmin;
}

.hero div {
    width: 100%;
}

.hero div * {
    /* margin: 0; */
}

.description {
    line-height: 1.5;
    margin: 0 0 .75em 0;
}

sup,
sub,
.pronouns {
    font-size: clamp(18px, 2vw, 40px);
    color: var(--lavender);
}

.purple-text {
    color: var(--lavender);
}

h2 {
    font-size: 6.5vw;
    font-size: clamp(51px, 5vw, 80px);
    margin: 1vmin 0;
    line-height: 1.2;
}

.pre-title {
    font-size: 1rem;
    color: var(--white);
    position: absolute;

}

.description {
    font-size: 1.2rem;
    line-height: 1.65;
}



span {
    color: var(--text-dark);
}