@media only screen and (max-width: 600px) {
    .hero {
        margin-top: 5rem;
        padding: 2rem;
    }
}

@media (min-width: 600px) {
    .hero {
        margin-top: 5rem;
        padding: 10vmin;
    }


}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vmin;

    text-align: left;

    border-radius: 10vmin;
}

.hero div {
    width: 100%;
}

.description {
    line-height: 1.5;
    margin: 0 0 .75em 0;
    max-width: 500px;
}

sup,
sub,
.pronouns {
    font-size: clamp(18px, 2vw, 40px);
    color: var(--lavender);
}

.purple-text {
    color: var(--lavender);
}



.pre-title {
    font-size: clamp(0.8rem, 2vw, 2rem);
    letter-spacing: .03rem;
    color: var(--white);
}