@media only screen and (max-width: 600px) {

    /* For mobile phones: */
    div.proj-grid {
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        padding: 8vmin;
    }

    div.proj-img {
        grid-column: 1/1;
        grid-row: 1/1;
        margin-bottom: 1.5rem;
        gap: 1rem;
    }

    div.proj-info {
        padding: 0;
    }

    div.proj-img img {
        height: 200px;
        width: 200px;
        border-radius: 4vmin;
    }

    div.proj-links-container {
        margin-top: 1rem;
        gap: 4vmin;
    }

    div.proj-num {
        font-weight: 800;
        grid-column-start: 1;
    }

    p.proj-desc {
        padding: 0.5rem 0;
    }

}

.proj-item {
    background: var(--dark-grey);

    padding: 0;

    border-radius: 5vmin;

    text-align: left;

    transition: all 0.2s ease;
}

.proj-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: rgba(0, 0, 0, 0);
}

.proj-num {
    font-weight: 800;
}

.proj-info {
    font-size: 1rem;
    grid-column: 1/1;
    padding: 8vmin;

    display: flex;
    flex-direction: column;
    gap: 3vmin;
}

.proj-info * {
    margin: 0;
}

.proj-img {
    grid-column: 2/2;
    width: 100%;
    overflow: hidden;
}

.proj-img img {
    max-width: 200px;
    max-height: 200px;
    background: white;
}

.proj-desc {
    font-size: 1rem;
    line-height: 1.8;
}

.proj-tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vmin;
}

.proj-links-container {
    display: flex;
    flex-direction: row;
    gap: 2vmin;
    margin-top: 1vmin;
}

.proj-link {
    /* padding: 1rem;
    border-radius: 50%; */
}

.proj-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.proj-img img {
    width: 50%;
}

.proj-team {
    width: 100%;
    flex-wrap: nowrap;
}

.bold {
    font-weight: 800;
}

.proj-link {
    font-size: clamp(30px, 4.5vw, 40px);
    font-weight: 800;
}

.proj-link svg {
    height: clamp(23px, 3vw, 40px);
    width: clamp(23px, 3vw, 40px);
}