.side-nav-left {
    left: 0;
    top: 0;
    bottom: 0;
}

.side-nav {
    position: fixed;
    width: 10vmin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}

.side-nav-left a {
    font-size: 0.8rem;

    border: 1px solid #363636;
    padding: 5vmin 1.5vmin;

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}