.side-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.side-nav-right {
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.side-nav-right a {
    width: fit-content;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.side-nav-right .icon {
    --x: 2.5vmin;
    width: var(--x);
    height: var(--x);
}

@media only screen and (max-width: 600px) {

    svg.icon,
    .side-nav-right svg.icon {
        --x: 1.8rem;
        height: var(--x);
        width: var(--x);
    }

    .side-nav {
        visibility: hidden;
    }

}