.side-nav-right {
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.side-nav-right a {
    width: fit-content;
    display: flex;
    padding: 1vmin 1vmin;
    justify-content: center;
    align-items: center;
}

.side-nav-right .icon {
    --x: 2.5vmin;
    width: var(--x);
    height: var(--x);
}