@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 10vmin;

    z-index: 10;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3vmin;
}

.logo-container {
    width: fit-content;
    justify-content: flex-start;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-links-container {
    top: 6vmin;

    padding: 1.5rem 2.25rem;

    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    background: var(--dark-grey);
    backdrop-filter: blur(10px);
    border-radius: 5vmin;
}

.logo {
    --x: 30px;
    height: var(--x);
    width: var(--x);
}

.nav-link {
    text-decoration: none;
    color: var(--text-light);
}