@media only screen and (max-width: 600px) {
    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .about {
        flex-direction: row;
    }

    .about-content {
        width: 60%;
    }
}


.about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.headshot {
    border-radius: 1.5rem;
    width: 100%;
    max-width: 250px;
    transition: transform 0.2s ease;
    box-shadow: -0.5rem 0.5rem 0 var(--dark-grey);
}

.headshot:hover {
    transform: scale(1.05);
}

.about-headshot {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-headshot-banner {
    height: 1rem;
    background-color: var(--dark-grey);
}