@media only screen and (max-width: 600px) {
    .about-content {
        flex-direction: column-reverse;
    }

    .about-desc {
        width: 100%;
    }

    .about-headshot {
        padding-bottom: 0.5rem;
    }

    .headshot {
        margin-left: 0rem;
    }

    .about {
        margin-bottom: 4rem;
    }
}

@media (min-width: 600px) {
    .about-content {
        flex-direction: row;
    }

    .about-desc {
        width: 60%;
    }

    .about-headshot {
        padding-left: 20px;
    }

    .headshot {
        margin-left: 2rem;
    }
}

.about-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.headshot {
    border-radius: 1.5rem;
    width: 100%;
    max-width: 250px;
    transition: transform 0.2s ease;
}

.headshot:hover {
    transform: scale(1.05);
}

.about-headshot {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-headshot-banner {
    height: 1rem;
    background-color: var(--dark-grey);
}

.about .section-title {
    padding-left: 2vmin;
}

.about span {
    color: var(--lavender);
}