@media only screen and (max-width: 600px) {
    .contact {
        visibility: visible;
    }
}

@media (min-width: 600px) {

    .contact,
    .contact * {
        visibility: hidden;
        height: 0px;
        position: absolute;
    }
}

.contact {
    background: var(--dark-grey);

    padding: 8vmin;

    border-radius: 5vmin;

    text-align: left;

    margin-bottom: 1rem;
}

.contact .section-title {
    padding-left: 0;
}