.main {
  text-align: center;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  padding: 5% 12.5% 10% 12.5%;

}

.cursor {
  position: absolute;
  z-index: 10;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */