@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .proj-mate-info::before {
        /* hitbox for hover */
        --x-overflow: 1rem;
        content: '';
        position: absolute;
        z-index: -1;
        top: -10%;
        left: calc(var(--x-overflow)/(-2));

        height: calc(140%);
        width: calc(100% + var(--x-overflow));
        background: rgba(0, 0, 0, 0);
    }

    .proj-mate-info::before:hover~.proj-mate-info {
        opacity: 1;
        visibility: visible;
    }
}

.teammate-container {
    position: relative;
    width: 30px;
    height: 30px;
}

.proj-mate-info {
    --shift: translateY(-90%);
    padding: 1rem 1rem;
    white-space: nowrap;

    min-width: 150px;

    position: absolute;
    border-radius: .4rem;
    background: var(--lavender);

    transform: var(--shift);
    -webkit-transform: var(--shift);
    -moz-transform: var(--shift);

    opacity: 0;

    text-align: center;
    color: var(--bg);

    transition: opacity 0.2s ease;

    visibility: hidden;

    line-height: 1.25;
}

.proj-mate-info:hover {
    visibility: visible;
}



.proj-mate-info::after {
    content: '';
    position: absolute;
    top: 99%;

    width: 0;
    height: 0;

    transform: translateX(-50%);

    border-style: solid;

    --x: 0.4rem;

    border-width: var(--x) var(--x) 0 var(--x);
    border-color: var(--lavender) transparent transparent transparent;
}

.helper-tri {
    --x: 0.3rem;
    width: 0;
    height: 0;
    /* For Firefox */
    border-style: inset;
    border-style: solid;
    border-width: var(--x) var(--x) 0 var(--x);
    border-color: var(--lavender) transparent transparent transparent;
    /* For anti-aliasing */
    /* -webkit-transform: rotate(360deg); */
}

.proj-mate-info:hover {
    opacity: 1;
}

.proj-mate-img:hover~.proj-mate-info {
    opacity: 1;
    animation: fadeIn 0.2s ease;
    visibility: visible;
}

.proj-mate-img:hover {
    border: 2px solid var(--lavender);
}

.proj-mate-link {
    color: var(--bg);
}

.proj-mate-img {
    --x: 100%;
    width: var(--x);
    margin: auto;
    border-radius: 50%;
    border: 2px solid var(--dark-grey-light);
    aspect-ratio: 1 / 1;

    transition: border 0.2s ease;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teammate-container:nth-child(2) {
    transform: translateX(-10%);
}

.teammate-container:nth-child(3) {
    transform: translateX(-20%);
}

.teammate-container:nth-child(4) {
    transform: translateX(-30%);
}

.teammate-container:nth-child(5) {
    transform: translateX(-40%);
}

.teammate-container:first-child {
    transform: translateX(0%);
}